body {
    background: linear-gradient(#f7f9f900, #f7f9f900),url(https://plus.unsplash.com/premium_photo-1683309568772-57011d6c1b7b?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGlzdGElMjBkZSUyMHRhcmVhc3xlbnwwfHwwfHx8MA%3D%3D)center center/cover no-repeat fixed;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 25px;
    border-bottom: 1px solid hsla(60, 8%, 3%, 0.02);
    color: hwb(252 2% 58%);
}

.todo-item:hover {
    background: rgba(139 80, 255, 0.28);
    border-radius: 8px;
    transition: 0.25s ease;
}

.delete-btn {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    color: hwb(252 2% 58%);
    font-weight: 500;
}

.todo-item:hover    .delete-btn{
        opacity: 1;
}

.count {
    margin-top: 20px;
    color: #00030a;
    text-align: left;
    font-size: 20px;
}

.empty-msg{
    padding: 19px;
    color: hwb(252 2% 58%);
    font-size: 18px;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    letter-spacing: 1px;
}